{namespace neos=TYPO3\Neos\ViewHelpers}
<div class="neos-row-fluid">
    <table class="neos-table">
        <thead>
        <tr>
            <th width="1%"></th>
            <th>Target</th>
            <th>Workspace</th>
            <th>Message</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{actions}" as="action">
            <tr>
                <td><i class="{action.icon}"></i></td>
                <td>
                    <f:if condition="{action.node}">
                        <f:then>
                            {action.node.label}
                        </f:then>
                        <f:else>
                            <em>None</em>
                        </f:else>
                    </f:if>
                </td>
                <td>{action.message}</td>
                <td>{action.node.workspace.name}</td>
                <td>{action.node.identifier}</td>
                <td class="neos-action">
                    <div class="neos-pull-right">
                        <f:if condition="{action.node}">
                            <neos:link.node
                                    node="{action.node}"
                                    resolveShortcuts="FALSE"
                                    target="profile"
                                    rel="noopener"
                                    class="neos-button">
                                <i class="icon-pencil"></i>
                            </neos:link.node>
                        </f:if>
                    </div>
                </td>
            </tr>
        </f:for>
        </tbody>
    </table>
</div>
