{namespace neos=TYPO3\Neos\ViewHelpers}
<div class="neos-row-fluid">
    <table class="neos-table">
        <thead>
        <tr>
            <th width="1%"></th>
            <th>Label</th>
            <th>NodeType</th>
            <th>Message</th>
            <th>Identifier</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{blockers}" as="blocker">
            <tr>
                <td><i class="{blocker.icon}"></i></td>
                <td><b>{blocker.node.label}</b></td>
                <td>{blocker.nodeType}</td>
                <td>{blocker.message}</td>
                <td>{blocker.node.identifier}</td>
                <td class="neos-action">
                    <div class="neos-pull-right">
                        <neos:link.node
                                node="{blocker.node}"
                                resolveShortcuts="FALSE"
                                target="profile"
                                rel="noopener"
                                class="neos-button">
                            <i class="icon-pencil"></i>
                        </neos:link.node>
                    </div>
                </td>
            </tr>
        </f:for>
        </tbody>
    </table>
</div>
