{namespace neos=TYPO3\Neos\ViewHelpers}
<div>
    <ul role="menu">
        <f:for each="{entities}" as="entity">
            <li>
                <f:link.action class="neos-button"
                               style="width: 100%; margin-bottom: 1em; text-align: left;"
                               action="index"
                               title="Select the current entity"
                               arguments="{currentEntity: entity.className}"
                               addQueryString="TRUE">
                    <i class="icon-table"></i> {entity.label}
                </f:link.action>
            </li>
        </f:for>
    </ul>
</div>
