{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace site=Ttree\ArchitectesCh\ViewHelpers}
<div class="neos-module-container">
    <fieldset>
        <legend>{label} "{currentLabel}"</legend>
        <div class="neos-row-fluid neos-module-container">
            <div class="neos-controls">
                <div class="neos-control-group">
                    <label class="neos-control-label"
                           for="activity">Target Activity</label>
                    <div class="neos-controls neos-controls-row">
                        <site:form.referenceActivity
                                name="data[target]"
                                id="activity"
                                class="neos-span12"></site:form.referenceActivity>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>
<div class="neos-footer">
    <f:link.action action="index"
                   class="neos-button"
                   addQueryString="TRUE">
        Cancel
    </f:link.action>
    <f:form.button type="submit"
                   class="neos-button neos-button-danger">
        Execute
    </f:form.button>
</div>
