{namespace neos=TYPO3\Neos\ViewHelpers}
<f:layout name="BackendSubModule"/>

<f:section name="subtitle">
    <div class="neos-module-container">

        <f:if condition="{currentEntity}">
            <f:then>
                <h2>Content Object Proxy Dashboard / <em>{currentEntity}</em></h2>
            </f:then>
            <f:else>
                <h2>Content Object Proxy Dashboard</h2>
            </f:else>
        </f:if>
    </div>
</f:section>

<f:section name="content">
    <div class="neos-content neos-container-fluid">
        <f:render partial="TaskReport" arguments="{processedEntities: processedEntities, actions: actions}"/>
        <div class="neos-footer">
            <f:link.action action="index"
                           class="neos-button"
                           addQueryString="TRUE">Cancel
            </f:link.action>
        </div>
        <div class="fixedsticky-dummy" style="height: 72px;"></div>
    </div>
</f:section>
