{namespace neos=TYPO3\Neos\ViewHelpers}
<f:layout name="BackendSubModule"/>

<f:section name="subtitle">
    <div class="neos-module-container" style="padding-bottom: 1em;">

        <f:if condition="{currentEntity}">
            <f:then>
                <h2>Content Object Proxy Dashboard / <em>{currentEntity}</em></h2>
            </f:then>
            <f:else>
                <h2>Content Object Proxy Dashboard</h2>
            </f:else>
        </f:if>
    </div>
</f:section>

<f:section name="content">
    <f:if condition="{currentEntity}">
        <f:then>
            <f:for each="{tasks}" as="task">
                <f:form action="execute" style="display: inline-block;">
                    <f:form.hidden name="currentEntity" value="{currentEntity}" />
                    <f:form.hidden name="task" value="{task.__className}" />
                    <f:form.button
                            class="{task.buttonClass}"
                            title="{task.description}">
                        <i class="{task.iconClass}"></i> {task.label}
                    </f:form.button>
                </f:form>
            </f:for>
        </f:then>
        <f:else>
            <f:render partial="EntitySelector" arguments="{entities: entities}"/>
        </f:else>
    </f:if>
</f:section>
