{namespace neos=TYPO3\Neos\ViewHelpers}
<f:layout name="BackendSubModule"/>

<f:section name="subtitle">
    <div class="neos-module-container">
        <h2>{currentActionLabel} "{currentLabel}"</h2>
    </div>
</f:section>

<f:section name="content">
    <f:form action="apply">
        <f:form.hidden name="currentAction"
                       value="{currentAction}"/>
        <f:form.hidden name="currentEntity"
                       value="{currentEntity}"/>
        <f:form.hidden name="identifier"
                       value="{identifier}"/>

        <div class="neos-content neos-container-fluid">
            <div class="neos-module-container">
                <f:if condition="{actionStack.hasBlockers}">
                    <fieldset>
                        <legend>Blockers</legend>
                        <div class="neos-row-fluid neos-module-container">
                            <f:render partial="BlockerReport" arguments="{blockers: actionStack.blockers}"/>
                        </div>
                    </fieldset>
                </f:if>
                <fieldset>
                    <legend>Action Stack</legend>
                    <div class="neos-row-fluid neos-module-container">
                        <f:render partial="ActionStackReport" arguments="{actions: actionStack.actions}"/>
                    </div>
                </fieldset>
            </div>
            <div class="neos-footer">
                <f:link.action action="index"
                               class="neos-button"
                               addQueryString="TRUE">
                    Cancel
                </f:link.action>
                <f:if condition="{actionStack.hasBlockers}">
                    <f:else>
                        <f:form.button type="submit"
                                       class="neos-button neos-button-danger">
                            Execute action stack
                        </f:form.button>
                    </f:else>
                </f:if>
            </div>

        </div>
    </f:form>
    <div class="fixedsticky-dummy" style="height: 72px;"></div>
    </div>
</f:section>
