{namespace neos=TYPO3\Neos\ViewHelpers}
<f:layout name="BackendSubModule"/>

<f:section name="content">
    <f:form action="run">
        <div class="neos-content neos-container-fluid">
            <f:form.hidden name="currentAction"
                           value="{currentAction}"/>
            <f:form.hidden name="currentEntity"
                           value="{currentEntity}"/>
            <f:form.hidden name="currentLabel"
                           value="{currentLabel}"/>
            <f:form.hidden name="identifier"
                           value="{identifier}"/>

            <f:render partial="{wizard}Wizard" arguments="{_all}" />
        </div>
    </f:form>
    <div class="fixedsticky-dummy" style="height: 72px;"></div>
    </div>
</f:section>
