{namespace neos=TYPO3\Neos\ViewHelpers}
<f:layout name="BackendSubModule"/>

<f:section name="subtitle">
    <div class="neos-module-container">
        <f:if condition="{currentEntity}">
            <f:then>
                <h2>Wizard / <em>{currentEntity}</em></h2>
            </f:then>
            <f:else>
                <h2>Wizard</h2>
            </f:else>
        </f:if>
    </div>
</f:section>

<f:section name="content">
    <f:form action="run">
        <div class="neos-content neos-container-fluid">
            <f:render partial="{wizard}Wizard" arguments="{_all}" />
        </div>
    </f:form>
    <div class="fixedsticky-dummy" style="height: 72px;"></div>
    </div>
</f:section>
